<h1 class="title">Mi perfil</h1>
<div class="profile-container">
  <div class="profile-left">
    <div class="round-container" style="position: relative;">
      <img [src]="profile.image_route" alt="image">
      <button mat-icon-button (click)="openEditDialog('image')" style="position: absolute; bottom: 0; right: 0; background-color: rgba(255,255,255,0.7);">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="username-container" style="display: flex; align-items: center; justify-content: center;">
      <p style="margin: 0; margin-right: 8px;">{{ profile.username }}</p>
      <button mat-icon-button (click)="openEditDialog('username')" style="color: white;">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div style="margin-top: 10px;">
      <button mat-raised-button (click)="openEditDialog('password')">
        <mat-icon>edit</mat-icon> Cambiar contraseña
      </button>
    </div>
  </div>

  <div class="profile-right">
    <div class="stats-container">
      <p>Total de juegos: {{ profile.total_videogames + profile.total_tabletop_games }}</p>
      <p>Total de videojuegos: {{ profile.total_videogames }}</p>
      <p>Total de juegos de mesa: {{ profile.total_tabletop_games }}</p>
    </div>
  </div>
</div>
<div class="lists-container">
  <app-scrollable-list-vg [title]="'Tus videojuegos favoritos'" [listVideogames]="videogames"></app-scrollable-list-vg>
  <app-scrollable-list-tg [title]="'Tus juegos de mesa favoritos'" [listTabletops]="tabletops"></app-scrollable-list-tg>
</div>
<div class="delete-btn">
  <button (click)="deleteAccount()">Eliminar cuenta</button>
</div>