<div class="layout">
  <div class="content">
    <div class="title">
      <h1>Bienvenido a PlayLib</h1>
    </div>
    <app-scrollable-list-vg [title]="'Videojuegos más populares'" [videogames]="videogames">
    </app-scrollable-list-vg>
    <app-scrollable-list-tg [title]="'Juegos de mesa más populares'" [tabletopGames]="tabletops">
    </app-scrollable-list-tg>
    <app-scrollable-list-vg [title]="'Videojuegos para ti'" [videogames]="videogames">
    </app-scrollable-list-vg>
    <app-scrollable-list-tg [title]="'Juegos de mesa para ti'" [tabletopGames]="tabletops">
    </app-scrollable-list-tg>
  </div>