<div class="layout">
  <div class="content">
    <div class="title">
      <h1>Bienvenido a PlayLib</h1>
    </div>
    <app-scrollable-list-vg [title]="'Videojuegos más populares'" [listVideogames]="popularVideogames">
    </app-scrollable-list-vg>
    <app-scrollable-list-tg [title]="'Juegos de mesa más populares'" [listTabletops]="popularTabletops">
    </app-scrollable-list-tg>
    <app-scrollable-list-vg [title]="'Videojuegos para ti'" [listVideogames]="videogamesByTag">
    </app-scrollable-list-vg>
    <app-scrollable-list-tg [title]="'Juegos de mesa para ti'" [listTabletops]="tabletopsByTag">
    </app-scrollable-list-tg>
  </div>