<h2 mat-dialog-title>Buscar juegos</h2>
<mat-dialog-content>
  <div class="search-container">
    <div class="search">
      <mat-form-field appearance="outline" subscriptSizing="dynamic" style="flex: 1;">
        <mat-label>Buscar juego</mat-label>
        <input matInput placeholder="Escribe un juego..." [(ngModel)]="searchText" (keyup.enter)="onSearch()">
      </mat-form-field>
      <button mat-icon-button (click)="onSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <div class="grid">
    @for (game of games; track game.id) {
    <mat-card class="card" (click)="goToGame(game)">
      <div class="image-container">
        <img mat-card-image [src]="game.image" [alt]="game.name" />
      </div>
      <mat-card-content class="name">
        {{ game.name }}
      </mat-card-content>
    </mat-card>
    } @empty {
    @if (searchText) {
    <p class="no-results">No se encontraron juegos</p>
    }
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
