<h2 mat-dialog-title>Crear juego</h2>
<mat-dialog-content>
  <div style="margin-top: 15px;">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Selecciona una petición</mat-label>
      <mat-select [(ngModel)]="requestSeleccionada" (selectionChange)="onSelectionChange()">
        @for (request of data.requests; track request.id) {
        <mat-option [value]="request">
          {{ request.gameName }}
        </mat-option>
        } @empty {
        <mat-option disabled>No hay peticiones</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div style="margin-bottom: 15px;">
      <mat-radio-group [(ngModel)]="gameType">
        <mat-radio-button value="videogame">Videojuego</mat-radio-button>
        <mat-radio-button value="tabletop">Juego de mesa</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="gameData.name" required>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Descripción</mat-label>
      <textarea matInput [(ngModel)]="gameData.description" required></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Enlace imagen</mat-label>
      <input matInput [(ngModel)]="gameData.image_Route" required>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Fecha de lanzamiento</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="gameData.release_Date" required readonly>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    @if (gameType === 'videogame') {
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Desarrollador</mat-label>
      <input matInput [(ngModel)]="gameData.developer" required>
    </mat-form-field>
    }

    @if (gameType === 'tabletop') {
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Creador</mat-label>
      <input matInput [(ngModel)]="gameData.creator" required>
    </mat-form-field>

    <div style="display: flex; gap: 10px;">
      <mat-form-field appearance="fill" style="flex: 1;">
        <mat-label>Jugadores mínimos</mat-label>
        <input (wheel)="$event.preventDefault()" matInput type="number" [(ngModel)]="gameData.minPlayerNumber" required>
      </mat-form-field>

      <mat-form-field appearance="fill" style="flex: 1;">
        <mat-label>Jugadores máximos</mat-label>
        <input (wheel)="$event.preventDefault()" matInput type="number" [(ngModel)]="gameData.maxPlayerNumber" required>
      </mat-form-field>

      <mat-form-field appearance="fill" style="flex: 1;">
        <mat-label>Duración promedio (mins)</mat-label>
        <input (wheel)="$event.preventDefault()" matInput type="number" [(ngModel)]="gameData.averageDuration" required>
      </mat-form-field>
    </div>
    }

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Etiquetas</mat-label>
      <mat-select multiple [value]="selectedTags">
        @for (tag of allTags; track tag.id) {
        <mat-option [value]="tag.id" (click)="toggleTag(tag.id)">
          {{ tag.name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Idiomas</mat-label>
      <mat-select multiple [value]="selectedLanguages">
        @for (lang of allLanguages; track lang.id) {
        <mat-option [value]="lang.id" (click)="toggleLanguage(lang.id)">
          {{ lang.name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="custom-dialog-actions">
  <button class="btn-cancel" mat-dialog-close>Cancelar</button>
  <button class="btn-send" (click)="addGame()">Agregar</button>
</mat-dialog-actions>