<mat-sidenav-container class="sidenav-container">

  <mat-sidenav class="sidebar" #sidenav="matSidenav" mode="side" opened>
    <div class="button">
      @if(isAdmin) {
      <button routerLink="admin-request-mail">Buzón de peticiones</button><br>
      }
      <button routerLink="home">Home</button><br>
      <button routerLink="videogame-library">Videojuegos</button><br>
      <button routerLink="tabletop-game-library">Juegos de Mesa</button><br>
      <button routerLink="request-list">Peticiones</button><br>
      <button routerLink="profile">Perfil</button><br>
      <button routerLink="/login" (click)="logout()">Logout</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
