::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}
.sidenav-container {
  height: 100vh; 
}

.sidebar {
  width: 150px;
  background-color: #642A6B;
  border-right: 3px solid #DF5DF0;
  box-sizing: border-box;

}

.button{
    padding-left: 20%;
    padding-top: 70%;
}

button{
  margin-top: 10%;
}