<div class="title">
    <h1>Buzón de peticiones</h1>
</div>
<div class="add-btn">
    <button  matButton (click)="openDialog()"><mat-icon>add</mat-icon></button>
</div>
<div class="request-list">
    <div class="grid">
        @for (req of requests; track req.id) {
        <mat-card class="card">
            <div class="card-header">
                <h3 class="card-title">
                    {{ req.gameName }}
                </h3>
            </div>
            <div class="content-container">
                <p>Usuario: {{ req.username }}</p>
                <p>{{ req.description }}</p>
            </div>
            <div class="card-actions">
                @if(req.approved === null) {
                <button class="approve" (click)="approve(req.id)">Aprobar</button>
                <button class="reject" (click)="reject(req.id)">Rechazar</button>
                }
            </div>
            <div class="card-footer">
                @if(req.isTabletop) {
                <p class="isTabletop">Juego de mesa</p>
                }@else {
                <p class="isVideogame">Videojuego</p>
                }
            </div>
        </mat-card>
        }
    </div>
</div>
